.logo {
width: 90px;
}
.background-m{
   background-image: url(./head-back.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   height: 800px;
  position: absolute;
}

.heading{
               
 background-image: url(./h1image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.p-text{
   background-color: #fafdfc;
   color: rgb(89, 87, 87);
}
.ad-1, .ad-2{
   color: rgb(89, 87, 87);
   background-color: #fafdfc;
   width: fit-content;
}

.nav1{
   list-style-type: none;
   display: flex;
   flex-direction: row;
   float: right;
}
.fa, .nav-item{
   color: #fafdfc;
  
}
.program{
   background-color: black;
   height: 800px;
   width: 100%;
}
@media (min-width: 767.9px) {
   
   
   .fi-h{
      margin-top: 10%;
      margin-left: 13%;
      width: 60%;
   }
   .heading{
      font-weight: 900;
   font-size: 60px;  
   }
   .p-text{
      width: 80%;
   }
   .ad-1{
      font-weight: 700;
      font-size: 35px;
   }
   .ad-2{
      font-size: 20px;
   }
}

@media (max-width: 768px) {
   
}